.container {
    margin-top: 70px;
    max-width: 1000px;
    margin: auto;
}

.conatiner-fluid {
    margin-bottom: 20px;
}

.btn {
    padding: 8px 20px;
}

.green {
    background-color: green;
    padding: 6px;
    margin-right: 5px;
}

.red {
    background-color: red;
    padding: 6px;
}